.App {
  font-family: sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.App button {
  padding: 10px 15px;
  cursor: pointer;
  border: 0;
  background-color: #c5c5c5;
  color: #414141;
  border-radius: 10px;
  font-weight: bold;
  transition: all 0.2s ease-in-out;
}

.App button:active {
  transform: scale(0.9);
}

.chart-container {
  width: 80%;
  height: 400px;
  position: relative;
  padding: 10px;
}
.chart {
  width: 100%;
  height: 100%;
  border: 1px solid;
  border-right-width: 0;
  border-top-width: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-end;
}
.yaxis-label {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateX(-50%) translateY(-50%) rotate(-90deg);
}
.xaxis-label {
}
.bar {
  width: 3rem;
}
